@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  /* To disable overscrolling. */
  overflow: hidden;
  height: 100%;
}

body {
  margin: 0;

  /* To disable overscrolling. */
  height: 100%;
  overflow: auto;

  font-family: 'Roboto', sans-serif;
}

var {
  font-family: 'Roboto Mono', monospace;
  font-style: normal;
  font-weight: bold;
  color: yellow;
}

#docs-root code {
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  color: khaki;
  background: none;
}

.monospace {
  font-family: 'Roboto Mono', monospace;
}

#root {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
}

#left {
  min-width: 200px;
  width: 400px;

  display: flex;
  flex-direction: column;
}

#messager-container {
  /* Must be relative to anchor resizer. */
  /* position: relative; */

  height: 200px;
  flex: 0 1 auto;

  background-color: #333333;
  color: #CCCCCC;
}

#messager {
  font-family: 'Roboto Mono', monospace;
  font-size: 150%;
  overflow: auto;
  width: 100%;
  height: 100%;
  padding: 10px;
}

#editor {
  /* border: 2px solid red; */
  /* flex: 1; */
  flex: 1 1 auto;
  width: 100%;
  min-height: 200px;
}

#right {

  background-color: black;
  color: white;

  display: flex;
  flex-direction: column;

  /* I'd prefer not to set width and just let it default to min-width. But
   * that's not how it works. If I don't set the width, the sidebar will not
   * size properly. Using auto for flex-basis means we'll get the minimum
   * size from the width, which defaults to sizing to fit the content. If
   * the content is big, the sidebar will be big. */
  width: 300px;
  min-width: 300px;
}

.right-section {
  padding: 10px;
  overflow-y: auto;
}

#settings-root {
  height: 400px;
  flex: 0 1 auto;
}

#docs-root {
  flex: 1 1 0;
}

#close-panel-button, #middle-right-resizer, #right {
  display: none;
}

.panel-section {
  margin-bottom: 20px;
}

.panel-section > h3 {
  margin: 0 0 5px 0;
}

#svg {
  width: 100%;
  height: 100vh;
  object-fit: contain;
  /* object-position: 50% 50%; */
  background-color: rgb(240, 240, 240);
}

#middle {
  user-select: none;
  position: relative;
  flex: 1;
}

#toolbar {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#time-toolbar {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  margin: 0;
  width: calc(100% - 20px);
  text-align: center;
}

#scrubber {
  width: 100%; 
  margin: 3px 0;
}

a {
  color: orange;
}

#toolbar-left, #toolbar-middle, #toolbar-right {
  flex: 1 1 0;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  align-items: center;
  overflow: visible;
}

#toolbar-middle {
  justify-content: center;
}

#toolbar-right {
  justify-content: flex-end;
}

html {
  cursor: default;
}

html.grab {
  cursor: grab;
}

html.grabbing {
  cursor: grabbing;
}

.resizer {
  background-color: white;
  background-color: rgb(50, 50, 50);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 8px;
}

.height-resizer {
  background-image: url('images/horizontal_bars.png');
  cursor: row-resize;
}

.width-resizer {
  background-image: url('images/vertical_bars.png');
  cursor: col-resize;
}

.mark {
  stroke-width: 3;
  stroke-opacity: 1;
  stroke: rgb(66, 135, 245);
  vector-effect: non-scaling-stroke;
  fill: none;
  stroke-dasharray: 3 3;
}

.hovered > .mark {
  stroke: rgb(255, 169, 31);
}

.filled-mark {
  stroke-width: 2;
  stroke-dasharray: none;
  fill: black;
}

.stale-mark {
  fill: gray;
}

.outline-mark {
  stroke-width: 1;
  stroke: rgb(180, 180, 180);
  stroke-dasharray: none;
}

.grid-line {
  stroke-width: 1;
  stroke-opacity: 0.5;
  stroke: rgb(180, 180, 180);
  stroke-dasharray: none;
  vector-effect: non-scaling-stroke;
}

.cue {
  stroke-width: 2;
  stroke: white;
  stroke-dasharray: none;
  vector-effect: non-scaling-stroke;
}

.tool-icon {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  user-select: none;
  pointer-events: none;
}

.tool-set {
  position: relative;
  width: 50px;
  height: 50px;
}

#toolbar-right > .tool-set {
  margin: 0 0 0 15px;
}

#toolbar-left > .tool-set {
  margin: 0 15px 0 0;
}

#close-panel-button {
  display: none;
}

.tool-icon-fill {
  opacity: 0;
  transition: opacity 0.1s linear/*, scale 0.1s linear*/;
}

.tool-icon-active {
  opacity: 0;
}

.tool-set:hover > .tool-icon-fill {
  opacity: 1;
}

.tool-set:active > .tool-icon-active {
  opacity: 1;
}

.tool-set:hover > .tool-icon {
  /* transform: scale(1.2); */
}

.hidden {
  display: none;
}

.spinner {
  width: 35px;
  height: 35px;
  margin: 0 auto;
  display: none;
  border: 7px solid #97809e;
  border-top: 7px solid #00537c;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#docs-toolbar {
  text-align: right;
  display: none;
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10000;
}

#docs-content-panel {
  font-size: 1.2em;
}

.button-preview {
  display: block;
  width: 100px;
  background-color: white;
  margin: 20px auto;
  padding: 10px;
}
